@import "tailwindcss";

/* =========================
   OMNITRIX / BEN 10 THEME
   ========================= */

:root {
  --omni-green: #22c55e;
  --omni-glow: #4ade80;
  --omni-dark: #020617;
  --soft-white: #ecfeff;
}

/* =========================
   GLOBAL RESET
   ========================= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* =========================
   BODY
   ========================= */

body {
   font-family: 'Audiowide', sans-serif;
  background: linear-gradient(180deg, #052e16, #020617);
  color: var(--soft-white);
  min-height: 100vh;
  overflow-x: hidden;
}

/* =========================
   SCROLLBAR
   ========================= */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--omni-green);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #020617;
}



/* =========================
   ANIMATIONS
   ========================= */

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* =========================
   RESPONSIVE
   ========================= */

@media (max-width: 768px) {
  .title-line {
    font-size: 3.5rem;
  }
}
